<div class="container-profile">

  <div class="profile-page">


    <div class="all-tables">

      <div class="tableaux">
        <div class="profile-main-title">Mes réservations</div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Bouée</th>
                <th scope="col">Description</th>
                <th scope="col">Adresse</th>
                <th scope="col">Durée</th>
                <th scope="col">Prix total</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <% if booking.buoy.photo.attached? %>
                    <td><%= image_tag booking.buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit, class:"buoy-avatar " %></td>
                  <% end %>
                    <td><%= booking.buoy.name %></td>
                    <td><%= booking.buoy.description %></td>
                    <td><%= booking.buoy.address %></td>
                    <td><%= booking.duration %> jours</td>
                    <td><%= booking.total_price %> €</td>
                </tr>
              <% end %>
            </tbody>
            </table>
       </div>

      <div class="tableaux">
        <div class="profile-main-title">Mes bouées à louer</div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Bouée</th>
              <th scope="col">€</th>
              <th scope="col">Contact</th>
              <th scope="col">Dates</th>
            </tr>
          </thead>
          <tbody>
            <% @buoy_bookings.each do |booking| %>
              <tr>
                <% if booking.buoy.photo.attached? %>
                  <td><%= image_tag booking.buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit, class:"buoy-avatar" %></td>
                <% end %>
                <td><%= booking.buoy.name %></td>
                <td><%= booking.buoy.price %> €</td>
                <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
                <td><%= booking.start_date %> au <%= booking.end_date %> </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="profile">
      <div class="profile-main-title">Mon profil</div>
      <div class="profile-element d-flex justify-content-between">
        <div class="profile-title">Prénom</div>
        <div class="profile-paragraph"><%= @profile.first_name %></div>
      </div>

      <div class="profile-element d-flex justify-content-between">
        <div class="profile-title">Nom</div>
        <div class="profile-paragraph"><%= @profile.last_name %></div>
      </div>

      <div class="profile-element d-flex justify-content-between">
        <div class="profile-title">@</div>
        <div class="profile-paragraph"><%= @profile.email %></div>
      </div>
      <%= link_to "Edit profile",  edit_user_registration_path, class:"btn btn-create btn-edit" %>
    </div>

  </div>
  <%= link_to "Retour", root_path, class: "btn btn-outline-secondary btn-back" %>
</div>

