<div class="container" id="form-buoys">
  <%= simple_form_for(@buoy) do |f| %>
    <%= f.input :name, :label => "Nom", :placeholder => "Licorne" %>
    <%= f.input :description, :label => "Description", :placeholder => "Licorne arc-en-ciel" %>
    <%= f.input :address, :label => "Localisation", :placeholder => "16 villa Gaudelet 75011 Paris" %>
    <%= f.input :person_number, :label => "Capacité (places)", :placeholder => "1" %>
    <%= f.input :price, :label => "Prix / Jour", :placeholder => "3" %>
    <%= f.input :photo, as: :file %>
    <div class= "btn btn-warning btn-create">
      <%= f.button :submit, "Soumettre" %>
    </div>
  <% end %>
</div>
