<div class="container">

<h1>Buoys</h1>

<div class="cards">
  <% @buoys.each do |buoy| %>
    <div class="card-trip">
      <div class="card-trip-image">
        <% if buoy.photo.attached? %>
          <%= image_tag buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
        <% end %>
      </div>
      <div class="card-trip-infos">
        <div class="name">
          <h2><%= buoy.name %></h2>
          <p>📍<%= buoy.address %></p>
          <%= link_to "See details", buoy_path(buoy) %>
        </div>
        <h3 class="card-trip-pricing"><%= buoy.price %>€/day</h3>
      </div>
    </div>
  <% end %>
</div>
<div class="add-button">
  <%= link_to "Ajoute une bouée", new_buoy_path, class: "btn-create"%>
</div>
</div>


