<div class="container">
  <div class="row">
    <div class="col-8">
    <br>
      <h1>Choisis ta bouée:</h1>
      <div class="cards">
        <% @buoys.each do |buoy| %>
          <div class="card-trip">
            <div class="card-trip-image">
              <%= link_to buoy_path(buoy) do %>
                <% if buoy.photo.attached? %>
                  <%= image_tag buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
                <% end %>
              <% end %>
            </div>
            <div class="card-trip-infos">
              <div class="name">
                <h2><%= buoy.name %></h2>
                <p>📍 <%= buoy.address %></p>
                <h3 class="card-trip-pricing"><%= buoy.price %>€ / jour</h3>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <div id="map"
          style="width: 450px; height: 450px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
<br>
</div>
