<div class="container">

<h1>Buoys</h1>

<div class="cards">
  <% @buoys.each do |buoy| %>
    <div class="card-trip">
      <div class="card-trip-image">
        <%= image_tag buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
      </div>
      <div class="card-trip-infos">
        <div>
          <h2><%= buoy.name %></h2>
          <p><%= buoy.description %></p>
          <%= link_to "See details", buoy_path(buoy) %>
        </div>
        <h2 class="card-trip-pricing"><%= buoy.price %> € half-day</h2>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Ajoute une bouée", new_buoy_path  %>
</div>


