<div class="container">
  <h1>Details of the buoy you selected</h1>
  <br>
  <div class="card-product">
    <% if @buoy.photo.attached? %>
      <%= image_tag @buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= @buoy.name %></h2>
      <p><%=  @buoy.description %></p>
      <p>Price: <%= @buoy.price %><i class="fas fa-euro-sign"></i></p>
      <%= link_to "Back to list", buoys_path, class: "btn-create" %>
    </div>
  </div>
</div>

