<div class="container">
  <h1>Details of the buoy you selected</h1>
  <br>
  <div class="page">
    <div class="card-product">
      <% if @buoy.photo.attached? %>
        <%= image_tag @buoy.photo, alt: "bouée", width: 300, heigth: 200, crop: :fit %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= @buoy.name %></h2>
        <p>📍 <%= @buoy.address %></p>
        <p><%= @buoy.description %></p>
        <p>Pour: <%= @buoy.person_number %> 🙎</p>
        <p>Prix (1/2 journée): <%= @buoy.price %><i class="fas fa-euro-sign"></i></p>
        <%= link_to "🔙", buoys_path, class: "btn-create" %>
      </div>
    </div>

    <div class="buoy-booking">
      <div class="form">
        <h4>Louez cette bouée !</h4>
        <%= simple_form_for ([@buoy, @booking]) do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.submit "Confirmer la réservation", type: "button", class: "btn-create", data: { toggle: "modal", target: "#exampleModal" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de votre location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Vous avez loué la bouée <%= @buoy.name %> pour un prix de <%= @buoy.price %>euros par jour</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
    </div>
</div>



